.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem;
  width: 100%;
  max-width: 1272px;
}

.logoGem {
  width: 56px;
  height: 32px;
}

.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navList a {
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 500;
}

.lang {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: white;
  margin-left: 44px;

  img {
    width: 24px;
    height: 18px;
    border-radius: 2px;
  }
}
